.jdgm-rev .jdgm-rev__rating {
    margin-right: 4px
}

.jdgm-rev .jdgm-rev__timestamp {
    float: none
}

.jdgm-rev .jdgm-rev__timestamp:not(.jdgm-spinner) {
    white-space: nowrap;
    margin-right: 24px
}

.jdgm-rev .jdgm-rev__icon {
    margin-top: 2px
}

.jdgm-rev .jdgm-rev__author-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center
}

.jdgm-rev .jdgm-rev__buyer-badge-wrapper {
    margin-left: 0;
    margin-right: 5px
}

.jdgm-rev .jdgm-rev__buyer-badge {
    vertical-align: unset
}

@media only screen and (min-width: 768px) {
     :not(.jm-mfp-review-wrapper)>.jdgm-rev .jdgm-row-rating {
        float: left;
        width: 20%
    }
     :not(.jm-mfp-review-wrapper)>.jdgm-rev .jdgm-row-profile,
     :not(.jm-mfp-review-wrapper)>.jdgm-rev .jdgm-row-extra,
     :not(.jm-mfp-review-wrapper)>.jdgm-rev .jdgm-rev__content,
     :not(.jm-mfp-review-wrapper)>.jdgm-rev .jdgm-rev__actions,
     :not(.jm-mfp-review-wrapper)>.jdgm-rev .jdgm-rev__reply {
        width: 80%;
        margin-left: 20%
    }
}